.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
  }
  .header h2 {
    font-size: 4em;
  }
  .header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    background: #15425C;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
  }
/* -- */
.properties2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
  border-color: white;
  border-width: 2px;
}
.properties2 h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.properties2 p {
  color: #15425C;
  margin-top: 4px;
}

.onebox {
  border: 2px solid #15425C;
  margin: 10px;
  padding: 15px;
  position: relative;
  border-radius: 15px 50px;
}

.onebox::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
  border-radius: 15px 50px;
}

.onebox:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  border-radius: 15px 50px;
}

.onebox::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
  border-radius: 15px 50px;
}