.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
  }
  .details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .html {
    margin-top: 40px;
  }
  .featured {
    margin-bottom: 40px;
  }

  .newspaper {
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
  }

  ul {
    margin-left: 10px;
  }
