.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
  }
  .details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .html {
    margin-top: 40px;
  }
  .featured {
    margin-bottom: 40px;
  }

  .newspaper {
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
  }

  ul {
    margin-left: 10px;
  }

  table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 2px;
  }

  th:nth-child(odd),td:nth-child(odd) {
    background-color: #15425C;
  }
h2 {
  color: #15425C;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
  
.btn {
  display: inline-block;
  background: #15425C;
  padding: 10px 16px;
  border-radius: 150px;
  margin-top: 20px;
  font-weight: 500;
}
.contactus {
  text-align: left;
}