.property {
    text-align: center;
  }
  .property > h2 {
    font-size: 3em;
    margin-top: 80px;
  }
  .property > h3 {
    font-size: 2em;
    font-weight: 400;
  }
  .properties2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .properties2 h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
  }
  .properties2 p {
    color: #15425C;
    margin-top: 4px;
  }
  
  .backdark {
    background-color: #15425C;
    color: white;
    font-size: 25px;
  }